language: android
jdk: oraclejdk8
android:
  components:
    - tools
    - tools
    - platform-tools


    # The BuildTools version used by your project
    - build-tools-25

    # The SDK version used to compile your project
    - android-25

    # Additional components
    - extra-android-m2repository

  licenses:
    - 'android-sdk-preview-license-.+'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'

before_script:
    - chmod +x gradlew

script: "./gradlew build"